body{
    /* background: linear-gradient(270deg,#0f2027,#203a43,#2c5364); */
    background-image: url("../wood1.jpg");
}

a{
    text-decoration: none;

    color: silver;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Girassol', cursive;
}
    a:hover{
        color: goldenrod;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Girassol', cursive;
    }

    #inicia{
        color: silver;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        margin-top: 14px;
        margin-left: 20px;
    }

    #inicia:hover{
        color: goldenrod;
    }

h1{
    color:silver;
    font-family: 'Aclonica', sans-serif;
    font-size: 60px;
      text-indent: -100px;
}

#contenedor_redes{
    background-color: black;
    display: flex;
    margin-bottom: 10px;
    padding-left: 65%;
}

    .redes{
        /*width: fit-content(2cm);*/
        width: fit-content;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .fa-facebook:hover{
        color: blue !important;
    }

    .fa-instagram:hover{
        color: violet !important;
    }

    .fa-youtube-play:hover{
        color: red !important;
    }

    .fa-twitter:hover{
        color: skyblue !important;
    }

    .fa-whatsapp:hover{
        color: greenyellow !important;
    }

#contenedor_logo{
    background-color: black;
    display: flex;
}

    #logo{
        padding-left: 10px;
        width: fit-content;
    }

    #nombre_logo{
        padding-left: 22%;
        padding-top: 50px;
        width: fit-content;
    }

.carteles{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    background-color: black;
}

    .cartel1{
        width: 20%;
        margin-left: 100px;
    }

.slider_p{
  margin-top: 30px;
  width: 100%;
  display: flex;
  }
  .productitos{
      width: 68%;
      margin-right: 10px;
  }
  .productitis{
      width: 68%;
      margin-right: 10px;
  }
  .productites{
      width: 68%;
      margin-right: 10px;
  }
  .miSlide_p{
    width: 100%;
    height: 386px

  }

  .miSlide_p2{
    width: 100%;
    height: 386px

  }

  .miSlide_p3{
    width: 100%;
    height: 386px

  }
  #texto_prod{
    background-color: black;
    color: silver;
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    font-size: 25px;
}

  .slider{
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

    .fotitos{
        width: 68%;
        margin-left: 10px;
    }
        .miSlide{
            width: 100%;
            height: 386px;
        }

    #texto_hist{
        background-color: black;
        color: silver;
        width: 30%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align:center;
        font-size: 25px;
    }

    #textito{
        font-size: 25px;
        color: silver;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
    }

    #textito:hover{
        color: gold;
    }

footer{
    margin-top: 20px;
    background-color: black;
    display: flex;
}

    .horario{
        color:silver;
        width: fit-content;
        margin-left: 15%;
        font-family: 'Aclonica', sans-serif;
    }

    #reserva{
        margin: 30px;
        margin-left: 40%;
        justify-content: right;
        background-color: white;
        font-family: 'Aclonica', sans-serif;
        font-weight: bold;
    }
